@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://ecualac.com.ec/wp-content/uploads/2022/06/productos-2.png" alt="ProductImage" border="0" />
    <<h2 class="display-4">Tu mejor lugar de productos!!!!</h2>
    <p>Todo esto fue hecho utilizando el patron builder, prueba como funciona!</p>
    <div class="btn-outline-warning">
        <a asp-controller="Products" asp-action="Index">Crea tu producto para que puedas verlo!!</a>
    </div>
</div>
